<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="css/basic.css" />
<link type="text/css" rel="stylesheet" href="css/tiny.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.uploadfile.js"></script>
<script type="text/javascript" src="js/tiny.js"></script>
<script type="text/javascript" src="js/function.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<title>index</title>
</head>
<body>
	<div class="publish">
		<dl class="friend_list">

		</dl>
		<dl class="msg_box">

		</dl>
		<div class="user_msg">
			<i class="close">╳</i>
			<div class="avatar_box">
				<i class="shadow"></i>
				<img src="images/avatar.jpg" />
			</div>
			<div class="edit_name">
				<a class="btn">上传头像</a>
				<label>
					<input class="text" type="text" />
					<a class="btn">修改称呼</a>
				</label>
				<label>
					<textarea></textarea>
					<a class="btn">修改介绍</a>
				</label>
			</div>
			<div class="clear"></div>
		</div>
		<ul>
			<li>
				<form>
					<div class="cont_box">
						<div class="title">
							<input id="text_title" class="text" type="text" value="标题" onfocus="javascript:if(this.value=='标题'){this.value=''};" onblur="if(this.value==''||this.value=='标题'){this.value='标题'};" />
						</div>
						<div class="tools">
							<img src="images/edit_tools.jpg" />
						</div>
						<div class="cont">
							<textarea id="text_cont">请输入文章内容</textarea>
						</div>
						<div class="tags">
							<em></em>
							<input id="text_tags" class="text" type="text" value="标签" onfocus="javascript:if(this.value=='标签'){this.value=''};" onblur="if(this.value==''||this.value=='标签'){this.value='标签'};" />
						</div>
					</div>
					<div class="btns">
						<span class="btn cancel">Cancel</span>
						<i id="uptext" class="submit">Done</i>
					</div>
				</form>
			</li>
			<li>
				<form class="hide">
					<div class="cont_box">
						<div class="title">
							<input id="img_title" class="text" type="text" value="标题" onfocus="javascript:if(this.value=='标题'){this.value=''};" onblur="if(this.value==''||this.value=='标题'){this.value='标题'};" />
						</div>
						<div class="cont" style="text-align:center;">
							<a id="upimg" class="upimg"><div class="btn"></div></a>
						</div>
						<div class="tools">
							<img src="images/edit_tools.jpg" />
						</div>
						<div class="cont">
							<textarea id="img_cont">请输入图片描述（可不填）</textarea>
						</div>
						<div class="tags">
							<em></em>
							<input id="img_tags" class="text" type="text" value="标签" onfocus="javascript:if(this.value=='标签'){this.value=''};" onblur="if(this.value==''||this.value=='标签'){this.value='标签'};" />
						</div>
					</div>
					<div class="btns">
						<span class="btn cancel">Cancel</span>
					<!-- <i id="upimg" class="submit">Done</i> -->
					</div>
				</form>
			</li>
			<li>
				<form class="hide">
					<div class="cont_box">
						<div class="title">
							<input id="audio_title" class="text" type="text" value="标题" onfocus="javascript:if(this.value=='标题'){this.value=''};" onblur="if(this.value==''||this.value=='标题'){this.value='标题'};" />
						</div>
						<div class="title">
							<input id="audio_url" class="text" type="text" value="音乐链接" onfocus="javascript:if(this.value=='音乐链接'){this.value=''};" onblur="if(this.value==''||this.value=='音乐链接'){this.value='音乐链接'};" />
						</div>
						<div class="tools">
							<img src="images/edit_tools.jpg" />
						</div>
						<div class="cont">
							<textarea id="audio_cont">请输入音乐描述（可不填）</textarea>
						</div>
						<div class="tags">
							<em></em>
							<input id="audio_tags" class="text" type="text" value="标签" onfocus="javascript:if(this.value=='标签'){this.value=''};" onblur="if(this.value==''||this.value=='标签'){this.value='标签'};" />
						</div>
					</div>
					<div class="btns">
						<span class="btn cancel">Cancel</span>
						<i id="upaudio" class="submit">Done</i>
					</div>
				</form>
			</li>
			<li>
				<form class="hide">
					<div class="cont_box">
						<div class="title">
							<input id="video_title" class="text" type="text" value="标题" onfocus="javascript:if(this.value=='标题'){this.value=''};" onblur="if(this.value==''||this.value=='标题'){this.value='标题'};" />
						</div>
						<div class="title">
							<input id="video_url" class="text" type="text" value="视频链接" onfocus="javascript:if(this.value=='视频链接'){this.value=''};" onblur="if(this.value==''||this.value=='视频链接'){this.value='视频链接'};" />
						</div>
						<div class="tools">
							<img src="images/edit_tools.jpg" />
						</div>
						<div class="cont">
							<textarea id="video_cont">请输入视频描述（可不填）</textarea>
						</div>
						<div class="tags">
							<em></em>
							<input id="video_tags" class="text" type="text" value="标签" onfocus="javascript:if(this.value=='标签'){this.value=''};" onblur="if(this.value==''||this.value=='标签'){this.value='标签'};" />
						</div>
					</div>
					<div class="btns">
						<span class="btn cancel">Cancel</span>
						<i id="upvideo" class="submit">Done</i>
					</div>
				</form>
			</li>
			<li>
				<form class="hide">
					<div class="cont_box">
						<div class="title">
							<input id="link_title" class="text" type="text" value="标题" onfocus="javascript:if(this.value=='标题'){this.value=''};" onblur="if(this.value==''||this.value=='标题'){this.value='标题'};" />
						</div>
						<div class="title">
							<input id="link_url" class="text" type="text" value="分享链接" onfocus="javascript:if(this.value=='分享链接'){this.value=''};" onblur="if(this.value==''||this.value=='分享链接'){this.value='分享链接'};" />
						</div>
						<div class="tools">
							<img src="images/edit_tools.jpg" />
						</div>
						<div class="cont">
							<textarea id="link_cont">请输入链接描述（可不填）</textarea>
						</div>
						<div class="tags">
							<em></em>
							<input id="link_tags" class="text" type="text" value="标签" onfocus="javascript:if(this.value=='标签'){this.value=''};" onblur="if(this.value==''||this.value=='标签'){this.value='标签'};" />
						</div>
					</div>
					<div class="btns">
						<span class="btn cancel">Cancel</span>
						<i id="uplink" class="submit">Done</i>
					</div>
				</form>
			</li>
		</ul>
	</div>
	<div class="article">
		<ul id="my_article">
			<li>
				<div class="avatar">
					<img src="images/other1.jpg">
					<span>加关注</span>
				</div>
				<div class="cont_box">
					<div class="title">
						<div class="more"><a>╳</a></div>
						<h3><a>《人生是一场独自的修行》</a></h3>
						<div class="clear"></div>
					</div>
					<div class="cont">
						<img src="images/img21.jpg" />
						<p>不要轻言你是在为谁付出和牺牲，其实所有的付出和牺牲最终的受益人都是自己。人生是一场与任何人无关的独自的修行，这是一条悲欣交集的道路，路的尽头一定有礼物，就看你配不配得到。</p>
					</div>
					<div class="comment_box">
						<div class="tags">
							<a>人生</a>
							<a>哲理</a>
							<a>路</a>
						</div>
						<div class="share">
							<a class="love_btn"></a>
							<a class="reship_btn"></a>
							<a class="comt_btn"></a>
						</div>
						<div class="clear space_10"></div>
						<dl>
							<dt>
								<a><img src="images/avatar.jpg" /><em>Tiny</em></a>
								<span>其实所有的付出和牺牲最终的受益人都是自己</span>
							</dt>
							<dd>
								<textarea></textarea>
								<a class="cancel_btn">取消</a>
								<a class="done_btn">评论</a>
								<div class="clear"></div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="clear"></div>
			</li>
			<li>
				<div class="avatar">
					<img src="images/other1.jpg">
					<span>加关注</span>
				</div>
				<div class="cont_box">
					<div class="title">
						<div class="more"><a>╳</a></div>
						<h3><a>《人生是一场独自的修行》</a></h3>
						<div class="clear"></div>
					</div>
					<div class="cont">
						<img src="images/img22.jpg" />
						<p>不要轻言你是在为谁付出和牺牲，其实所有的付出和牺牲最终的受益人都是自己。人生是一场与任何人无关的独自的修行，这是一条悲欣交集的道路，路的尽头一定有礼物，就看你配不配得到。</p>
					</div>
					<div class="comment_box">
						<div class="tags">
							<a>人生</a>
							<a>哲理</a>
							<a>路</a>
						</div>
						<div class="share">
							<a class="love_btn"></a>
							<a class="reship_btn"></a>
							<a class="comt_btn"></a>
						</div>
						<div class="clear space_10"></div>
						<dl>
							<dt>
								<a><img src="images/avatar.jpg" /><em>Tiny</em></a>
								<span>其实所有的付出和牺牲最终的受益人都是自己</span>
							</dt>
							<dt>
								<a><img src="images/img3.png" /><em>imeoer</em></a>
								<span>楼上说得对！</span>
							</dt>
							<dd>
								<textarea></textarea>
								<a class="cancel_btn">取消</a>
								<a class="done_btn">评论</a>
								<div class="clear"></div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="clear"></div>
			</li>
		</ul>
	</div>
	<div class="nav">
		<div class="avatar">
			<a><img src="images/avatar.jpg" /></a>
		</div>
		<h2><a id="user_name">Tiny</a></h2>
		<dl>
			<dd class="ico_msg"><a></a></dd>
			<dd class="ico_friend"><a></a></dd>
			<dd class="ico_set"><a></a></dd>
			<dd class="ico_exit"><a></a></dd>
		</dl>
		<ul>
			<li class="ico_home"><a class="active">
				<em></em>
				<span>Home</span>
			</a></li>
			<li class="ico_article"><a>
				<em></em>
				<span>Article</span>
			</a></li>
			<li class="ico_image"><a>
				<em></em>
				<span>Image</span>
			</a></li>
			<li class="ico_audio"><a>
				<em></em>
				<span>Audio</span>
			</a></li>
			<li class="ico_video"><a>
				<em></em>
				<span>Video</span>
			</a></li>
			<li class="ico_link"><a>
				<em></em>
				<span>Link</span>
			</a></li>
		</ul>
		<div class="space_10"></div>
	</div>
	<div class="index_cont">
		<ul id="all_article">
			<li><a>
				<em>自然</em>
				<h3>这个是标题<span>这才是内容</span></h3>
				<img src="images/img1.jpg" />
			</a></li>
			<li><a>
				<em>室内设计</em>
				<h3>这个是标题<br/>《室内设计》</h3>
				<img src="images/img2.jpg" />
			</a></li>
			<li><a>
				<em>艺术</em>
				<h3>这个是标题<br/>《艺术》</h3>
				<img src="images/img3.png" />
			</a></li>
			<li><a>
				<em>风景</em>
				<h3>这个是标题<br/>《风景》</h3>
				<img src="images/img4.jpg" />
			</a></li>
			<li><a>
				<em>涂鸦</em>
				<h3>这个是标题<br/>《涂鸦》</h3>
				<img src="images/img5.jpg" />
			</a></li>
			<li><a>
				<em>音乐</em>
				<h3>这个是标题<br/>《音乐》</h3>
				<img src="images/img6.jpg" />
			</a></li>
			<li><a>
				<em>绘画</em>
				<h3>这个是标题<br/>《绘画》</h3>
				<img src="images/img7.jpg" />
			</a></li>
			<li><a>
				<em>浪漫</em>
				<h3>这个是标题<br/>《浪漫》</h3>
				<img src="images/img8.gif" />
			</a></li>
			<li><a>
				<em>旅游</em>
				<h3>这个是标题<br/>《旅游》</h3>
				<img src="images/img9.gif" />
			</a></li>
			<li><a>
				<em>小清新</em>
				<h3>这个是标题<br/>《小清新》</h3>
				<img src="images/img10.gif" />
			</a></li>
			<li><a>
				<em>电影</em>
				<h3>这个是标题<br/>《电影》</h3>
				<img src="images/img11.jpg" />
			</a></li>
			<li><a>
				<em>蝙蝠侠</em>
				<h3>这个是标题<br/>《蝙蝠侠》</h3>
				<img src="images/img12.jpg" />
			</a></li>
			<li><a>
				<em>赫本</em>
				<h3>这个是标题<br/>《赫本》</h3>
				<img src="images/img13.jpg" />
			</a></li>
			<li><a>
				<em>手工</em>
				<h3>这个是标题<br/>《手工》</h3>
				<img src="images/img14.jpg" />
			</a></li>
			<li><a>
				<em>中国风</em>
				<h3>这个是标题<br/>《中国风》</h3>
				<img src="images/img15.jpg" />
			</a></li>
			<li><a>
				<em>街头艺术</em>
				<h3>这个是标题<br/>《街头艺术》</h3>
				<img src="images/img16.jpg" />
			</a></li>
			<li><a>
				<em>女人</em>
				<h3>这个是标题<br/>《女人》</h3>
				<img src="images/img17.jpg" />
			</a></li>
			<li><a>
				<em>普罗旺斯</em>
				<h3>这个是标题<br/>《普罗旺斯》</h3>
				<img src="images/img18.jpg" />
			</a></li>
			<li><a>
				<em>拿破仑</em>
				<h3>这个是标题<br/>《拿破仑》</h3>
				<img src="images/img19.jpg" />
			</a></li>
			<li><a>
				<em>印度</em>
				<h3>这个是标题<br/>《印度》</h3>
				<img src="images/img20.jpg" />
			</a></li>
			<li><a>
				<em>自然</em>
				<h3>这个是标题<br/>《自然》</h3>
				<img src="images/img1.jpg" />
			</a></li>
			<li><a>
				<em>室内设计</em>
				<h3>这个是标题<br/>《室内设计》</h3>
				<img src="images/img2.jpg" />
			</a></li>
			<li><a>
				<em>艺术</em>
				<h3>这个是标题<br/>《艺术》</h3>
				<img src="images/img3.png" />
			</a></li>
			<li><a>
				<em>风景</em>
				<h3>这个是标题<br/>《风景》</h3>
				<img src="images/img4.jpg" />
			</a></li>
			<li><a>
				<em>涂鸦</em>
				<h3>这个是标题<br/>《涂鸦》</h3>
				<img src="images/img5.jpg" />
			</a></li>
			<li><a>
				<em>音乐</em>
				<h3>这个是标题<br/>《音乐》</h3>
				<img src="images/img6.jpg" />
			</a></li>
			<li><a>
				<em>绘画</em>
				<h3>这个是标题<br/>《绘画》</h3>
				<img src="images/img7.jpg" />
			</a></li>
			<li><a>
				<em>浪漫</em>
				<h3>这个是标题<br/>《浪漫》</h3>
				<img src="images/img8.gif" />
			</a></li>
			<li><a>
				<em>旅游</em>
				<h3>这个是标题<br/>《旅游》</h3>
				<img src="images/img9.gif" />
			</a></li>
			<li><a>
				<em>小清新</em>
				<h3>这个是标题<br/>《小清新》</h3>
				<img src="images/img10.gif" />
			</a></li>
			<li><a>
				<em>电影</em>
				<h3>这个是标题<br/>《电影》</h3>
				<img src="images/img11.jpg" />
			</a></li>
			<li><a>
				<em>蝙蝠侠</em>
				<h3>这个是标题<br/>《蝙蝠侠》</h3>
				<img src="images/img12.jpg" />
			</a></li>
			<li><a>
				<em>赫本</em>
				<h3>这个是标题<br/>《赫本》</h3>
				<img src="images/img13.jpg" />
			</a></li>
			<li><a>
				<em>手工</em>
				<h3>这个是标题<br/>《手工》</h3>
				<img src="images/img14.jpg" />
			</a></li>
			<li><a>
				<em>中国风</em>
				<h3>这个是标题<br/>《中国风》</h3>
				<img src="images/img15.jpg" />
			</a></li>
			<li><a>
				<em>街头艺术</em>
				<h3>这个是标题<br/>《街头艺术》</h3>
				<img src="images/img16.jpg" />
			</a></li>
			<li><a>
				<em>女人</em>
				<h3>这个是标题<br/>《女人》</h3>
				<img src="images/img17.jpg" />
			</a></li>
			<li><a>
				<em>普罗旺斯</em>
				<h3>这个是标题<br/>《普罗旺斯》</h3>
				<img src="images/img18.jpg" />
			</a></li>
			<li><a>
				<em>拿破仑</em>
				<h3>这个是标题<br/>《拿破仑》</h3>
				<img src="images/img19.jpg" />
			</a></li>
			<li><a>
				<em>印度</em>
				<h3>这个是标题<br/>《印度》</h3>
				<img src="images/img20.jpg" />
			</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</body>
</html>
