<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="css/basic.css" />
<link type="text/css" rel="stylesheet" href="css/tiny.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/tiny.js"></script>
<title>login</title>
</head>
<body>
	<div class="login_msg"></div>
	<div class="login_box">
		<div class="login_cont">
			<ul>
				<li>
					<form>
						<label>
							<em class="ico_user"><i></i></em>
							<input class="text" type="text" value="User Name" onfocus="javascript:if(this.value=='User Name'){this.value=''};" onblur="if(this.value==''||this.value=='User Name'){this.value='User Name'};" />
						</label>
						<label>
							<em class="ico_lock"><i></i></em>
							<input class="text" type="password" value="Password" onfocus="javascript:if(this.value=='Password'){this.value=''};" onblur="if(this.value==''||this.value=='Password'){this.value='Password'};" />
						</label>
						<input class="submit_l" type="submit" value=" " />
					</form>
				</li>
				<li>
					<form>
						<label>
							<em class="ico_mail"><i></i></em>
							<input class="text" type="text" value="Email Address" onfocus="javascript:if(this.value=='Email Address'){this.value=''};" onblur="if(this.value==''||this.value=='Email Address'){this.value='Email Address'};" />
						</label>
						<label>
							<em class="ico_key"><i></i></em>
							<input class="text" type="password" value="Password" onfocus="javascript:if(this.value=='Password'){this.value=''};" onblur="if(this.value==''||this.value=='Password'){this.value='Password'};" />
						</label>
						<input class="submit_r" type="submit" value=" " />
					</form>
				</li>
			</ul>
		</div>
		<div class="handover"></div>
	</div>
	<div class="login_can"><img src="images/login_can.png"></div>
	<div class="login_foot">Copyright © 2014 - Forever</div>
</body>
</html>


