html{width:100%;height:100%;}
body{width:100%;height:100%;background:url(../images/bg.jpg) no-repeat center fixed;position:relative;}
a{text-decoration:none;}
a:hover{text-decoration:none;cursor:pointer;}
.hide{display:none;}

/* login */
.login_msg{width:855px;height:180px;margin:60px auto;background:url(../images/login_msg.png) no-repeat 0 0;}
.login_box{width:980px;height:72px;padding:10px;margin:40px auto;background:url(../images/login_bg.png) no-repeat 0 0;}
.login_cont{float:left;width:935px;height:72px;overflow:hidden;}
.login_cont ul{width:1870px;height:72px;}
.login_cont ul li{width:935px;height:72px;float:left;}
.login_cont label{float:left;width:350px;height:72px;background-color:#fff;border-radius:5px;margin-right:15px;}
.login_cont label em{float:left;width:50px;height:50px;padding:11px;border-radius:5px 0 0 5px;background-color:#dedede;}
.login_cont label em.ico_user i{display:block;width:50px;height:50px;background:url(../images/icos.png) no-repeat 10px 10px;}
.login_cont label em.ico_lock i{display:block;width:50px;height:50px;background:url(../images/icos.png) no-repeat 12px -40px;}
.login_cont label em.ico_mail i{display:block;width:50px;height:50px;background:url(../images/icos.png) no-repeat 10px -85px;}
.login_cont label em.ico_key i{display:block;width:50px;height:50px;background:url(../images/icos.png) no-repeat 20px -138px;}
.login_cont label .text{border:0px;width:225px;height:32px;padding:20px;outline:none;color:#666;font:30px/32px "Microsoft Yi Baiti",Arial;}
.login_cont .submit_l{width:195px;height:72px;border:0px;cursor:pointer;background:url(../images/login_btn.png) no-repeat 0px 0px;font:20px/20px arial;color:#fff;margin-right:10px;}
.login_cont .submit_r{width:195px;height:72px;border:0px;cursor:pointer;background:url(../images/register_btn.png) no-repeat 0px 0px;font:20px/20px arial;color:#fff;margin-right:10px;}
.handover{float:left;cursor:pointer;width:45px;height:72px;}
.login_can{width:680px;height:150px;margin:20px auto;}
.login_foot{font:14px/30px "微软雅黑";text-align:center;color:#fff;}

/* nav */
.nav{width:260px;padding-top:25px;position:fixed;left:-5px;top:0px;background:url(../images/nav_bg.png) repeat-y 0 0;}
.nav .avatar{width:120px;height:120px;border-radius:60px;background-color:rgba(0,0,0,0.3);margin:0px auto;}
.nav .avatar img{width:110px;height:110px;border-radius:55px;margin:5px;}
.nav h2{font:20px/30px "微软雅黑";text-align:center;margin:5px 0 10px;}
.nav h2 a{color:#fff;}
.nav ul li{width:250px;height:60px;margin-bottom:10px;}
.nav ul li a{display:block;width:180px;height:60px;background-color:rgba(0,0,0,0.3);padding-left:70px;}
.nav ul li a em{float:left;width:36px;height:36px;background:url(../images/icos.png) no-repeat 0 0;margin:12px 10px 0px 0px;}
.nav ul li.ico_home{border-left:5px solid #dd0000;border-right:5px solid #dd0000;}
.nav ul li.ico_home a em{background-position:1px -698px;}
.nav ul li.ico_article{border-left:5px solid #f9df00;border-right:5px solid #f9df00;}
.nav ul li.ico_article a em{background-position:0px -746px;}
.nav ul li.ico_image{border-left:5px solid #44b687;border-right:5px solid #44b687;}
.nav ul li.ico_image a em{background-position:1px -797px;}
.nav ul li.ico_audio{border-left:5px solid #1aafe4;border-right:5px solid #1aafe4;}
.nav ul li.ico_audio a em{background-position:2px -847px;}
.nav ul li.ico_video{border-left:5px solid #555285;border-right:5px solid #555285;}
.nav ul li.ico_video a em{background-position:1px -899px;}
.nav ul li.ico_link{border-left:5px solid #ff8800;border-right:5px solid #ff8800;}
.nav ul li.ico_link a em{background-position:0px -950px;}
.nav ul li a span{font:18px/60px "微软雅黑";color:#fff;}
.nav ul li a:hover,.nav ul li a.active{background-color:rgba(0,0,0,0.5);}
.nav dl{height:22px;padding:0px 45px 5px;margin-bottom:10px;}
.nav dl dd{float:left;width:22px;height:22px;margin:0px 10px;}
.nav dl dd a{display:block;width:22px;height:22px;background:url(../images/icos.png) no-repeat 0 0;}
.nav dl dd.ico_msg a{background-position:0px -997px;}
.nav dl dd.ico_set a{background-position:0px -1050px;}
.nav dl dd.ico_exit a{background-position:0px -1101px;}
.nav dl dd.ico_friend a{background-position:0px -1498px;}

/* index */
.index_cont{position:fixed;left:255px;top:0px;height:100%;overflow:scroll;}
.index_cont ul li{float:left;width:160px;height:160px;overflow:hidden;text-align:center;}
.index_cont ul li a{display:block;width:100%;height:100%;position:relative;background-color:#1aafe4;}
.index_cont ul li a img{max-width:100%;min-height:100%;}
.index_cont ul li em{display:block;position:absolute;z-index:49;left:0px;bottom:0px;background-color:rgba(0,0,0,0.7);color:#fff;padding:0px 5px;font:12px/22px "微软雅黑";height:22px;overflow:hidden;transition:all 0.5s;}
.index_cont ul li h3{position:absolute;z-index:50;left:0px;top:0px;height:110px;width:100%;font:16px/30px "微软雅黑";color:#fff;padding-top:50px;overflow:hidden;background-color:rgba(0,0,0,0.0);transition:all 0.5s;}
.index_cont ul li h3 i{display:block;font:16px/30px "微软雅黑";height:30px;overflow:hidden;}
.index_cont ul li h3 span{display:block;font:12px/24px "微软雅黑";height:48px;overflow:hidden;}
.index_cont ul li h3:hover{background-color:rgba(0,0,0,0.75);}
.index_cont ul li:hover em{opacity:0;}


/* article */
.article{width:645px;padding:20px;float:right;position:fixed;left:-685px;top:0px;height:100%;overflow:scroll;}
.article li{width:625px;background:url(../images/publish_arrow.png) no-repeat 77px 25px;margin-bottom:20px;}
.article li .avatar{float:left;width:64px;cursor:pointer;}
.article li .avatar img{display:block;width:64px;height:64px;border-radius:5px;cursor:pointer;}
.article li .avatar span{display:block;font:12px/30px "微软雅黑";color:#1aafe4;text-align:center;}
.article li .cont_box{float:right;width:500px;padding:5px 20px;background-color:#fff;border-radius:5px;box-shadow:2px 2px 3px 0px #333;}
.article li .cont_box .title h3 a{font:16px/40px "微软雅黑";color:#666;}
.article li .cont_box .title .more{float:right;}
.article li .cont_box .title .more a{font:16px/40px "宋体";color:#999;}
.article li .cont_box .cont img{max-width:500px;}
.article li .cont_box .cont p{font:14px/26px "微软雅黑";color:#666;margin:10px 0px;}
.article li .cont_box .cont a{font:14px/26px "微软雅黑";color:#1aafe4;}
.article li .comment_box .tags{float:left;height:26px;}
.article li .comment_box .tags a{float:left;font:12px/26px "微软雅黑";color:#fff;background-color:#bbb;border-radius:3px;padding:0px 10px;margin-right:10px;}
.article li .comment_box .tags a:hover{background-color:#1aafe4;}
.article li .comment_box .share{float:right;height:26px;}
.article li .comment_box .share .love_btn{float:right;width:21px;height:19px;background:url(../images/icos.png) no-repeat 0px -1250px;opacity:0.3;margin-left:10px;}
.article li .comment_box .share .reship_btn{float:right;width:22px;height:22px;background:url(../images/icos.png) no-repeat 0px -1450px;opacity:0.3;margin-left:10px;}
.article li .comment_box .share .comt_btn{float:right;width:21px;height:20px;background:url(../images/icos.png) no-repeat 0px -1300px;opacity:0.3;}
.article li .comment_box .share a:hover{opacity:0.5;}
.article li .comment_box .share .comt_btn.active{background-position:0px -1400px;opacity:1;}
.article li .comment_box .share .love_btn.active{background-position:0px -1350px;opacity:1;}
.article li .comment_box dl{border-top:1px dotted #ccc;padding:10px 0px;display:none;}
.article li .comment_box dt{height:20px;overflow:hidden;font:12px/20px "微软雅黑";color:#666;margin-bottom:10px;}
.article li .comment_box dt img{height:20px;width:20px;vertical-align:middle;margin-right:5px;}
.article li .comment_box dt em{color:#1aafe4;margin-right:10px;}
.article li .comment_box dd{margin-top:10px;}
.article li .comment_box dd textarea{width:478px;height:45px;padding:5px 10px;border-radius:3px;resize:none;outline:none;font:14px/22px "微软雅黑";color:#999;border:1px solid #ddd;margin-bottom:10px;}
.article li .comment_box dd .cancel_btn{float:left;height:26px;font:14px/24px "微软雅黑";background-color:#1aafe4;color:#fff;padding:0px 10px;cursor:pointer;border-radius:3px;vertical-align:2px;}
.article li .comment_box dd .cancel_btn:hover{background-color:#008bbd;}
.article li .comment_box dd .done_btn{float:right;height:26px;font:14px/24px "微软雅黑";background-color:#1aafe4;color:#fff;padding:0px 10px;cursor:pointer;border-radius:3px;vertical-align:2px;}
.article li .comment_box dd .done_btn:hover{background-color:#008bbd;}

/* publish */
.publish{width:0px;position:fixed;left:530px;top:0px;height:100%;overflow:hidden;}
.publish ul{width:500px;padding:20px 20px 10px;margin:220px 20px 0px;overflow:hidden;background-color:#fff;border-radius:5px;box-shadow:2px 2px 3px 0px #333;}
.publish li{width:500px;background-color:#fff;border-radius:5px;}
.publish li .cont_box{border:1px solid #ccc;border-radius:4px;}
.publish li .cont_box>div{border-top:1px solid #ccc;}
.publish li .cont_box>div:first-child{border-top:0px;}
.publish li .title{height:38px;}
.publish li .title .text{border:0px;padding:10px;font:14px/18px "微软雅黑";color:#999;background-color:transparent;outline:none;width:478px;}
.publish li .tools{height:30px;}
.publish li .tools img{height:30px;width:498px;}
.publish li .cont{}
.publish li .cont textarea{width:478px;height:100px;padding:5px 10px;border:0px;resize:none;outline:none;font:14px/22px "微软雅黑";color:#999;}
.publish li .cont b{font:12px/30px "微软雅黑";color:#999;}
.publish li .cont .upimg{display:block;padding:20px 0px;opacity:0.3;transition:all 0.5s;}
.publish li .cont .btn{display:block;width:50px;height:45px;margin:10px auto 0px;background:url(../images/icos.png) no-repeat 0px -1150px;opacity:0.3;}
.publish li .cont .upimg span{display:block;text-align:center;font:14px/30px "微软雅黑";color:#000;}
.publish li .cont .upimg:hover{opacity:0.5;}
.publish li .tags{height:38px;}
.publish li .tags .text{border:0px;padding:10px;font:14px/18px "微软雅黑";color:#999;background-color:transparent;outline:none;width:478px;}
.publish li .btns{height:40px;margin-top:5px;}
.publish li .btns .btn{float:left;font:14px/28px "微软雅黑";background-color:#bbb;color:#fff;padding:0px 10px;cursor:pointer;margin-top:6px;border-radius:3px;}
.publish li .btns .btn:hover{background-color:#1aafe4;}
.publish li .btns .submit{float:right;border:0px;font:14px/28px "微软雅黑";background-color:#1aafe4;color:#fff;padding:0px 10px;cursor:pointer;margin-top:6px;border-radius:3px;}
.publish li .btns .submit:hover{background-color:#008bbd;}


.publish .user_msg{display:none;position:absolute;width:500px;padding:20px;margin:20px;overflow:hidden;background-color:#fff;border-radius:5px;box-shadow:2px 2px 3px 0px #333;}
.publish .user_msg .avatar_box{float:left;width:150px;height:150px;margin-right:20px;position:relative;}
.publish .user_msg .avatar_box img{display:block;width:150px;height:150px;}
.publish .user_msg .avatar_box .shadow{display:block;height:150px;width:150px;position:absolute;left:0px;top:0px;background:url(../images/avatar_shadow.png) no-repeat 0px 0px;}
.publish .user_msg .edit_name{float:left;font-family:"微软雅黑";color:#999;}
.publish .user_msg .edit_name .btn{display:inline-block;height:28px;font:14px/26px "微软雅黑";background-color:#1aafe4;color:#fff;padding:0px 10px;cursor:pointer;border-radius:3px;vertical-align:2px;}
.publish .user_msg .edit_name .btn:hover{background-color:#008bbd;}
.publish .user_msg .edit_name label{display:block;margin-top:10px;}
.publish .user_msg .edit_name label .text{font:14px/14px "微软雅黑";height:14px;color:#999;border:1px solid #ddd;border-radius:3px;padding:6px 5px;width:225px;margin-right:5px;}
.publish .user_msg .edit_name label textarea{font:14px/22px "微软雅黑";color:#999;border:1px solid #ddd;border-radius:3px;padding:5px;width:225px;height:60px;resize:none;vertical-align:-8px;margin-right:5px;}
.publish .user_msg .close{display:block;position:absolute;top:3px;right:5px;font:16px/20px "宋体";color:#999;text-align:center;width:20px;height:20px;cursor:pointer;}


.publish .msg_box{display:none; position:absolute;width:500px;padding:20px;margin:20px;overflow:hidden;background-color:#fff;border-radius:5px;box-shadow:2px 2px 3px 0px #333;}
.publish .msg_box dd{padding-top:20px;margin-top:20px;border-top:1px dotted #ccc;}
.publish .msg_box dd:first-child{border-top:0px;margin-top:0px;padding-top:0px;}
.publish .msg_box dd .avatar{float:left;width:60px;height:60px;}
.publish .msg_box dd .avatar img{width:60px;height:60px;}
.publish .msg_box dd .comment{float:right;width:420px;}
.publish .msg_box dd .comment h3{height:30px;font:14px/30px "微软雅黑";overflow:hidden;}
.publish .msg_box dd .comment h3 a{color:#1aafe4;}
.publish .msg_box dd .comment h3 span{font-size:12px;color:#bbb;}
.publish .msg_box dd .comment h3 em{float:right;color:#999;}
.publish .msg_box dd .comment h3 em:hover{color:#1aafe4;cursor:pointer;}
.publish .msg_box dd .comment p{height:30px;font:12px/30px "微软雅黑";color:#999;overflow:hidden;}
.publish .msg_box dd .comment p em{float:right;color:#1aafe4;cursor:pointer;}
.publish .msg_box dd .comment p span i{color:#1aafe4;font-style:normal;margin-right:10px;}
.publish .msg_box dd .comment .reply{display:none;margin-top:10px;}
.publish .msg_box dd .comment .reply textarea{font:14px/22px "微软雅黑";color:#999;border:1px solid #ddd;border-radius:3px;padding:5px;width:350px;height:45px;resize:none;}
.publish .msg_box dd .comment .reply em{float:right;height:28px;font:14px/26px "微软雅黑";background-color:#1aafe4;color:#fff;padding:0px 10px;cursor:pointer;border-radius:3px;margin-top:28px;}
.publish .msg_box dd .comment .reply em:hover{background-color:#008bbd;}

.publish .friend_list{display:none; position:absolute;width:500px;padding:20px;margin:20px;overflow:hidden;background-color:#fff;border-radius:5px;box-shadow:2px 2px 3px 0px #333;}
.publish .friend_list dd{padding-top:20px;margin-top:20px;border-top:1px dotted #ccc;}
.publish .friend_list dd:first-child{border-top:0px;margin-top:0px;padding-top:0px;}
.publish .friend_list dd .avatar{float:left;width:60px;height:60px;}
.publish .friend_list dd .avatar img{width:60px;height:60px;}
.publish .friend_list dd .comment{float:right;width:420px;}
.publish .friend_list dd .comment h3{height:30px;font:14px/30px "微软雅黑";overflow:hidden;}
.publish .friend_list dd .comment h3 a{color:#1aafe4;}
.publish .friend_list dd .comment h3 em{float:right;color:#999;font-size:12px;}
.publish .friend_list dd .comment h3 em:hover{color:#1aafe4;cursor:pointer;}
.publish .friend_list dd .comment p{height:30px;font:12px/30px "微软雅黑";color:#999;overflow:hidden;margin-top:5px;}
.publish .friend_list dd .comment p em{float:right;height:28px;font:14px/26px "微软雅黑";background-color:#1aafe4;color:#fff;padding:0px 10px;cursor:pointer;border-radius:3px;}
.publish .friend_list dd .comment p .text{font:14px/16px "微软雅黑";color:#999;border:1px solid #ddd;border-radius:3px;padding:5px;width:337px;height:16px;resize:none;}
